bin
obj
.vscode
.idea
.db_store
appsettings.Development.json
*.db
/original.zip
/.vs/Reactivities/DesignTimeBuild/.dtbcache.v2
/.vs/Reactivities/v16/.suo
/API/API.csproj.user
/.vs/Reactivities/config/applicationhost.config
/API/reactivities.db-shm
/API/reactivities.db-wal
/API/published/*
/publish/*
